*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/ORB_SLAM2_Android/app/build
/ORB_SLAM2_Android/src/main/libs
.DS_Store
/build
/captures
.externalNativeBuild
